body {
    background-color: #f4f4f4;
    background-image: url("img/background.png");
    background-repeat: repeat-x;
    font-family: 'Josefin Slab', serif;
    margin: 0px;
    padding: 0px;
}

#top {
    background-image: url("img/top_bg.png");
    height: 44px;
    font-size: 24px;
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

#feed {
    margin: 0px auto;
    width: 70%;
}

.post {
    padding: 20px 0px 20px 0px;
    border: 0px;
    border-bottom: 1px solid #000000;
    font-size: 20px;
}

.post_info * {
    margin: 0px;
    padding: 0px;
}

.post_info td {
    vertical-align: top;
}

.post_info .post_info_title {
    padding-left: 20px;
}

.post_info .post_info_title h1 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

.post_info .post_info_title h2 {
    color: gray;
    font-size: 20px;
    margin-bottom: 10px;
}

.post_info .post_info_title h3 {
    color: gray;
    font-size: 18px;
}