<div class="navigation-template" ng-controller="navigationController">
    <ul class="nav-list nav">
        <li ng-class="navClass('Blogs')"><a href='#/'>All Blogs</a></li>
        <!-- We may also implement just one feed with filters! -->
        <li ng-class="navClass('Blogs')"><a href='#/feed'>My Feed</a></li>
        <!-- Could be a dropdown list ! User can have multiple blogs. -->
        <li ng-class="navClass('MyBlogs')"><a href='#/myblogs'>MyBlogs</a></li>
        <li ng-class="navClass('Profile')"><a href='#/me'>Profile</a></li>
    </ul>
</div>
