<div ng-controller='profileController'>
    <p>
        <div class="description">
            <i>{{ user.description }}</i><br />
            <strong>Blogs: <br />{{ user.blogs }}</strong><br />
            <strong>Blogs followed: <br />{{ user.blogs_followed }}</strong><br />
        </div>
        <div class="profile-picture">
            <img src="/images/{{ user.profile_picture }}" alt="profile picture" />
            <i><br />{{ user.display_name }} joined at {{ user.created_at }}</i><br />
        </div>
    </p>
</div>
<style>
    .profile-picture
    {
        float: right;
        margin: 10px 10px 10px 10px;
        text-align: center;
    }
    .description
    {
        display: block;
        float: left;
    }
</style>
