<div ng-controller='profileController'>
    <div class="row col-md-12 well well-sm centered"><h2>{{ user.display_name }}</h2></div>
    <div class="row col-md-12">
        <div class="col-md-4 profile-picture">
            <img src="/images/{{ user.profile_picture }}" alt="profile picture" />
        </div>
        <div class="col-md-8">
            <h3>Description</h3>
            <div class="well well-sm">
                <p>{{ user.description }}</p>
            </div>
            <h3>Blogs</h3>
            <div class="well well-sm" ng-repeat="blog in user.blogs">
                <a href="#feed/{{blog._id}}"><h4>{{ blog.title }}</h4></a>
                <p class="indent"><i>{{ blog.description }}</i></p>
                <div ng-if="$parent.enableFollow" class="row">
                    <button class="right-float btn btn-default" ng-if='!blog.followed' ng-click="$parent.followBlog(blog._id)">Follow</button>
                    <button class="right-float btn btn-default" ng-if='blog.followed' ng-click="$parent.unfollowBlog(blog._id)">Unfollow </button>
                </div>
            </div>
            <h3>Blogs Followed</h3>
            <div class="well well-sm" ng-repeat="followed in user.blogs_followed">
                <a href="#feed/{{followed._id}}"><h4>{{ followed.title }}</h4></a>
                <p class="indent"><i>{{ followed.description }}</i></p>
            </div>
        </div>
    </div>
</div>
