.navbar img
{
    max-height: 50px;
}

.user-name
{
    color: grey;
}

.post-header img, .comment img
{
    max-height: 40px;
}

.content
{
    margin: 0 auto;
    width: 90%;
}

.comment-container
{
    margin: 10px 10px 10px 10px;
}

.comment-body
{
    background-color: white !important;
}
.comment span
{
    font-size: 16px;
}
.comment img {
    margin-right: 10px;
}

.panel-body, .comment-body
{
    white-space: pre;
}

p
{
    word-wrap: break-word;
}

.save-btn {
    float: right;
    margin-right: 15px;
}

.right-float {
    float: right;
    margin-right: 15px;
}
