.navbar img
{
    max-height: 50px;
}

.user-name
{
    color: grey;
}

.post-header img
{
    max-height: 50px;
}

.content
{
    margin: 0 auto;
    width: 90%;
}

.comment-container
{
    margin: 10px 10px 10px 10px;
}
