<div ng-controller="signupController">
    <form ng-submit="signUp(user)">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="signup-username">Login name</label>
                <input class="form-control" type="text" id="signup-username" name="username" ng-model="user.username" value="" required />
            </div>
            <div class="form-group col-md-6">
                <label for="signup-password">Password</label>
                <input class="form-control" type="password" id="signup-password" name="password" ng-model="user.password" value="" required />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="signup-email">Email</label>
                <input class="form-control" type="text" id="signup-email" name="email" id="email" ng-model="user.email" value="" required />
            </div>
            <div class="form-group col-md-6">
                <label for="signup-displayname">Display Name</label>
                <input class="form-control" type="text" id="signup-displayname" name="display_name" ng-model="user.display_name" value="" required >
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="signup-description">Description</label>
                <textarea class="form-control" type="textarea" id="signup-description" name="description"
                rows="10" cols="50" ng-model="user.description" value=""></textarea> <br />
            </div>
        </div>
        <input type="submit" class="btn btn-default" value="Sign Up!" />
    </from>
</div>
