<div class="well well-lg" ng-controller="postController">
    <form ng-submit="addPost(post)">
        <div class="row">
            <div class="form-group col-md-12">
                <label for="post-title">Title</label>
                <input class="form-control" type="text" id="post-title" name="title" value="" ng-model="post.title" required="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="sr-only" for="post-content">Post content</label>
                <textarea rows="35" class="form-control"  ng-model="post.content" required="true" id="post-content"></textarea>
            </br>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-addon" id="basic-addon1">
                        <label for="post-tag">#</label>
                    </div>
                    <input class="form-control" type="text" name="tag" ng-model="tag" id="post-tag" placeholder="Tag" value="">
                </div>
                <button class="btn btn-default" type="button" ng-click="addTag(tag)">Add Tag</button>
            </div>
            <div class="col-md-6">
                <label for="tags">Tags</label>
                <ul class="list-group">
                    <li ng-repeat="tag in post.tags track by $index" class="list-group-item">#{{ tag }}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <input class="btn btn-default right-float" type="submit" name="submit-post" value="Submit Post" />
        </div>
    </form>
</div>
