<div class="blogs-template" ng-controller="blogController">
    <div class="blogs container-fluid"  >
        <div class="row control well well-sm">
                <div class="col-md-6">
                    <h3>Blogs</h3>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default right-float" ng-click="newBlog()">Add Blog</button>
                </div>
        </div>
        <div class="blog-item col-md-12 well well-lg" ng-repeat="blog in blogs">
            <div class="row">
                <div class="col-md-12">
                    <a href="#"><span class="glyphicon glyphicon-trash right-float" title="Remove Blog"></span></a>
                    <a href="#upsertblog/{{blog._id}}"><span class="glyphicon glyphicon-cog right-float" title="Edit blog"></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#feed/{{blog._id}}"><h3>{{ blog.title }}</h3></a>
                    <i>Created at {{ blog.created_at | date : 'longDate' }}</i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span ng-repeat="tag in blog.tags"><strong>#{{ tag }}&nbsp;</stong></span>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-default right-float" name="add-post" type="button" ng-click="newPost(blog._id)">New Post</button>
            </div>
        </div>
    </div>
</div>
